
@{
    ViewBag.Title = Title.ProfileNotAllowed;
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>@Title.ProfileNotAllowed</h2>
            @Html.Raw(Text.CircleProfileNotAllowed)
        </div>
    </div>
</div>



