<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <entityFramework>
    <contexts>
      <context type="LeeftSamen.Portal.Data.ApplicationDbContext, LeeftSamen.Portal.Data" disableDatabaseInitialization="false">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[LeeftSamen.Portal.Data.ApplicationDbContext, LeeftSamen.Portal.Data], [LeeftSamen.Portal.Data.Migrations.Configuration, LeeftSamen.Portal.Data]], EntityFramework" xdt:Transform="Insert" />
      </context>
    </contexts>
  </entityFramework>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <modules>
      <remove name="RaygunErrorModule" xdt:Transform="Insert" />
      <add name="RaygunErrorModule" type="Mindscape.Raygun4Net.RaygunHttpModule" xdt:Transform="Insert" />
    </modules>

  </system.webServer>

  <system.serviceModel>
    <client>
      <endpoint address="https://mijn.dezuiderling.nl/cc2/services/access" bindingConfiguration="accessSoapBinding" xdt:Transform="SetAttributes" xdt:Locator="Match(bindingConfiguration)" />
      <endpoint address="https://mijn.dezuiderling.nl/cc2/services/payment" bindingConfiguration="paymentSoapBinding" xdt:Transform="SetAttributes" xdt:Locator="Match(bindingConfiguration)" />
      <endpoint address="https://mijn.dezuiderling.nl/cc2/services/account" bindingConfiguration="accountSoapBinding" xdt:Transform="SetAttributes" xdt:Locator="Match(bindingConfiguration)" />
    </client>
  </system.serviceModel>

</configuration>
