<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="true">
    <serverUrls>
        <serverUrl url="http://a.tile.osm.org" matchAll="true"/>
        <serverUrl url="http://b.tile.osm.org" matchAll="true"/>
        <serverUrl url="http://c.tile.osm.org" matchAll="true"/>
        <serverUrl url="http://d.tile.osm.org" matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
