@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Title.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Title.LockedOut</h1>
    <h2 class="text-danger">@Text.LockedOut</h2>
</hgroup>
