@{
    ViewBag.Title = Title.TermsAndConditions;
}

<h1>@ViewBag.Title</h1>
<div class="panel">
    <div class="panel-body">

        <h2>
            Disclaimer
        </h2>
        <p>
            Wij vinden het fijn dat je gebruik maakt van het LeeftSamen-platform. Dit platform is ontwikkeld samen met bewoners, clubs, verenigingen en met ondersteuning van diverse gemeentes. Het LeeftSamen-platform is voor iedereen toegankelijk en is voor iedereen opengesteld. Met onder andere de gemeente hebben wij afspraken gemaakt hoe het platform moet functioneren en wat van ons kan worden verwacht.
        </p>
        <p>
            Wij &ndash; de co&ouml;peratieve vereniging LeeftSamen &ndash; zijn trots op ons product en vinden het fijn dit op deze manier in te zetten. Jij kunt hier gebruik van maken. Het is echter niet zo dat jij als gebruiker en wij als co&ouml;peratie een overeenkomst hebben. Dit betekent dat wij niet aansprakelijk zijn, indien je hier content plaatst en er met die content op de &eacute;&eacute;n of andere manier wat gebeurt. Jouw privacy vinden wij erg belangrijk. Eventuele data die wordt geplaatst op het platform, is niet herleidbaar tot individuele gebruikers.
        </p>
        <p>
            Wij hebben ook een uitgebreidere versie van deze algemene voorwaarden opgesteld. Deze algemene voorwaarden leggen uitgebreider uit wat je van ons kunt en mag verwachten. Je kunt pas verder met het gebruik van dit platform wanneer je de algemene voorwaarden doorleest en hebt aangegeven dat je de algemene voorwaarden hebt gelezen en begrepen.
        </p>
        <p>
            Wanneer er punten in onze algemene voorwaarden zijn, waar je het niet mee eens bent, breek dan het bezoek aan het platform af. Wanneer je ervoor kiest om het bezoek niet af te breken en in de toekomst gebruik te blijven maken van onze diensten, begrijpen wij daaruit dat jij de algemene voorwaarden volledig en zonder enig voorbehoud aanvaart.
        </p>
        <p>
            Wij wensen je veel gebruiksplezier.
        </p>

        <h2>
            Algemene voorwaarden
        </h2>
        <ol>
            <li>
                <i>Definities</i>
                <ol>
                    <li>
                        Wij zijn LeeftSamen. Wij zijn de Co&ouml;peratieve vereniging Leeft Samen U.A..
                    </li>
                    <li>
                        Wij faciliteren onder andere bedrijven of instanties door het inrichten van een platform. Het platform is vrij toegankelijk. / Niet wij maar deze derden bepalen wie er gebruik kunnen maken van dit platform.
                    </li>
                    <li>
                        Gebruiker: De gebruiker van een door ons ontwikkelde website of platform.
                    </li>
                    <li>
                        Profiel: De persoonlijke kenmerken, voorkeuren en informatie die een gebruiker heeft verstrekt en ingevoerd om te communiceren op het platform.
                    </li>
                    <li>
                        Content: De inhoudelijke informatie die door gebruikers of derden wordt geplaatst op een platform, website of andersoortig door ons ontwikkelde ict-tool.
                    </li>
                    <li>
                        Diensten: De door ons geleverde diensten, geleverde ICT of andere diensten die bestaan uit het ter beschikking stellen van content, in welke vorm dan ook.
                    </li>
                </ol>
            </li>
            <li>
                <i>Toepassingsgebied</i>
                <ol>
                    <li>
                        Deze algemene voorwaarden gelden tussen LeeftSamen en de gebruiker.
                    </li>
                    <li>
                        Deze algemene voorwaarden zijn van toepassing op het gebruik van dit platform.
                    </li>
                </ol>
            </li>
            <li>
                <i>Gebruik van het platform</i>
                <ol>
                    <li>
                        Het platform heeft als doel om gebruikers onderling met elkaar te laten communiceren. Het platform is een passief medium.
                    </li>
                    <li>
                        Gebruikers kunnen hun profiel aanmaken door het registratieproces te voltooien. Hierbij moet de gebruiker actuele en volledige informatie verstrekken. De gebruiker garandeert verder dat eventuele wijzigingen onmiddellijk worden doorgegeven.
                    </li>
                    <li>
                        De gebruiker is zelf verantwoordelijk voor het geheimhouden van zijn gebruikersnaam en wachtwoord.
                    </li>
                    <li>
                        De gebruiker is zelf verantwoordelijk voor de informatie die hij plaatst op het platform. Wanneer sprake is van inhoud die door ons wordt beschouwd als kwetsend, beledigend, discriminerend of op een andere manier moreel verwerpelijk, behouden wij ons het recht voor om deze informatie zonder nadere toelichting te verwijderen. Bij herhaaldelijke overtreding van de regels, kan een gebruiker worden verwijderd van het platform.
                    </li>
                    <li>
                        De gebruiker is zelf verantwoordelijk voor het geheimhouden van zijn gebruikersnaam en wachtwoord. Wanneer derden gebruik maken van het account van een gebruiker, is de gebruiker zelf verantwoordelijk voor de informatie die derde plaatst.
                    </li>
                    <li>
                        LeeftSamen kan nimmer aansprakelijk worden gesteld voor het gebruik of oneigenlijk gebruik van het account van een gebruiker.
                    </li>
                    <li>
                        Het is niet toegestaan opmerkingen te maken of inhoud te verspreiden, waarmee de rechten van anderen worden geschonden. Het is ook niet toegestaan inhoud te publiceren die kan worden gekenschetst als lasterlijk, beledigend, obsceen, kwetsend of gewelddadig van karakter is. Het is evenmin toegestaan berichten te plaatsen die kunnen leiden tot racisme of geweld kunnen uitlokken. Het is in het algemeen ook niet toegestaan om berichten te plaatsen die in strijd zijn met de doelstelling van het platform of met de geldende regels of fatsoensnormen.
                    </li>
                    <li>
                        Het is niet toegestaan in te breken op de infrastructuur van het platform, de infrastructuur van het platform te gebruiken voor eigen doeleinden, hetzij gegevens van gebruikers te verzamelen en te gebruiken voor eigen doeleinden.
                    </li>
                </ol>
            <li>
                <i>Aansprakelijkheid</i>
                <ol>
                    <li>
                        LeeftSamen spant zich maximaal in om het platform op ononderbroken wijze beschikbaar te stellen en beschikbaar te houden.
                    </li>
                    <li>
                        LeeftSamen spant zich in om het platform met alle redelijke middelen te beveiligen.
                    </li>
                    <li>
                        Gebruikers kunnen LeeftSamen op geen enkele wijze aansprakelijk stellen voor hinder door werkzaamheden, problemen, interventies, wijzigingen of beperkingen van functionaliteit, het verwijderen of doen verwijderen van content of andere zaken die van invloed kunnen zijn op de beschikbaarheid van het platform of informatie op het platform.
                    </li>
                </ol>
            </li>
            <li>
                <i> Content</i>
                <ol>
                    <li>
                        De inhoud van content, zoals die kan worden geplaatst, op het platform, wordt niet vooraf door ons gecontroleerd. Degene die de content plaatst is daarvoor aansprakelijk. LeeftSamen heeft niet de beschikking over middelen om de inhoud van de profielen te controleren of de geplaatste content permanent te controleren. Bij vermoeden van overtreding van regels, zullen gebruikers LeeftSamen hiervan op de hoogte moeten stellen. LeeftSamen kan binnen haar mogelijkheden inspanningen verrichten om herhaling te voorkomen en indien noodzakelijk de uitingen op het platform te verwijderen.
                    </li>
                </ol>
            </li>
            <li>
                <i>Privacy</i>
                <ol>
                    <li>
                        LeeftSamen besteedt de grootste zorg aan de bescherming van persoonsgegevens. LeeftSamen garandeert dat zij nooit informatie zal verstrekken aan derden die herleidbaar is tot individuele gebruikers, tenzij LeeftSamen door een wettelijke regel verplicht is die informatie aan derden, bijvoorbeeld justitie, te verstrekken.
                        Op geen enkele wijze aanvaart LeeftSamen aansprakelijkheid voor eventuele inbreuken op privacy of het verkrijgen van persoonsgegevens door derden.
                    </li>
                </ol>
            </li>
            <li>
                <i>Tarieven</i>
                <ol>
                    <li>
                        Er is sprake van een voor gebruikers mits natuurlijke personen of consumenten kosteloze dienst, LeeftSamen faciliteert slechts in het contact tussen de gebruikers onderling en is geen contractspartij van enige gebruiker.
                    </li>
                    <li>
                        Gebruikers voor zover dat natuurlijke personen betreft, zijn geen vergoeding aan LeeftSamen verschuldigd voor het gebruik van het platform. Uitsluitend bij gebruikers die geen natuurlijke personen / consumenten zijn, kan een vergoeding in rekening worden gebracht.
                    </li>
                </ol>
            </li>
            <li>
                <i> Intellectuele eigendom</i>
                <ol>
                    <li>
                        Alle rechten van intellectueel eigendom, alle rechten op alle op het platform aangeboden diensten, producten en informatie berusten uitsluitend bij LeeftSamen of haar licentiegevers.
                    </li>
                    <li>
                        Intellectuele eigendomsrechten op alle teksten, beelden, geluiden en programmatuur van het platform voorzover deze toebehoren aan LeeftSamen worden om niet ter beschikking gesteld aan derden. In beginsel wordt uitsluitend gebruik gemaakt van open source-software. Mocht de licentiegever over deze rechten beschikken, kan LeeftSamen deze rechten niet ter beschikking stellen aan derden en staat het derden niet vrij deze software voor eigen doeleinden te gebruiken.
                    </li>
                    <li>
                        Voor zover gebruikers teksten, beelden, geluiden of programmatuur op het platform achterlaten, dragen gebruikers de daarmee verbonden intellectuele eigendomsrechten over aan LeeftSamen en vrijwaren LeeftSamen derhalve van aanspraken van derden hierop.
                    </li>
                    <li>
                        Wanneer LeeftSamen op de hoogte zou worden gebracht van vermeend inbreuk makend materiaal of vermeend inbreuk makende links en/of hyperlinks op het platform, heeft LeeftSamen het recht, maar niet de plicht, de inhoud, links of hyperlinks te verwijderen.
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>